# **Purchase Case Study**

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data=pd.read_csv('/content/purchase_data.csv')

In [ ]:
data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10.0,A,2,0.0,3.0,NaN,NaN,8370.0
1,1000001,P00248942,F,0-17,10.0,A,2,0.0,1.0,6.0,14.0,15200.0
2,1000001,P00087842,F,0-17,10.0,A,2,0.0,12.0,NaN,NaN,1422.0
3,1000001,P00085442,F,0-17,10.0,A,2,0.0,12.0,14.0,NaN,1057.0
4,1000002,P00285442,M,55+,16.0,C,4+,0.0,8.0,NaN,NaN,7969.0
...,...,...,...,...,...,...,...,...,...,...,...,...
263010,1004473,P00041942,M,36-45,1.0,B,3,0.0,5.0,18.0,NaN,3722.0
263011,1004473,P00115142,M,36-45,1.0,B,3,0.0,1.0,8.0,17.0,19253.0
263012,1004473,P00188442,M,36-45,1.0,B,3,0.0,5.0,7.0,NaN,3608.0
263013,1004473,P00119442,M,36-45,1.0,B,3,0.0,5.0,NaN,NaN,3604.0
263014,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263015 entries, 0 to 263014
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     263015 non-null  int64
 1   Product_ID                  263014 non-null  object
 2   Gender                      263014 non-null  object
 3   Age                         263014 non-null  object
 4   Occupation                  263014 non-null  float64
 5   City_Category               263014 non-null  object
 6   Stay_In_Current_City_Years  263014 non-null  object
 7   Marital_Status              263014 non-null  float64
 8   Product_Category_1          263014 non-null  float64
 9   Product_Category_2          181501 non-null  float64
 10  Product_Category_3          80582 non-null   float64
 11  Purchase                    263014 non-null  float64
dtypes: float64(6), int64(1), object(5)
memory usage: 24.1+ MB

In [ ]:
data["Stay_In_Current_City_Years"].unique()

array(['2', '4+', '3', '1', '0', nan], dtype=object)

In [ ]:
data["Stay_In_Current_City_Years"]=data["Stay_In_Current_City_Years"].replace("4+",4)

In [ ]:
data["Stay_In_Current_City_Years"].unique()

array(['2', 4, '3', '1', '0', nan], dtype=object)

In [ ]:
data["Stay_In_Current_City_Years"]=pd.to_numeric(data["Stay_In_Current_City_Years"],error="coerce")

In [ ]:
data["Stay_In_Current_City_Years"].unique()

array([ 2.,  4.,  3.,  1.,  0., nan])

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263015 entries, 0 to 263014
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     263015 non-null  int64
 1   Product_ID                  263014 non-null  object
 2   Gender                      263014 non-null  object
 3   Age                         263014 non-null  object
 4   Occupation                  263014 non-null  float64
 5   City_Category               263014 non-null  object
 6   Stay_In_Current_City_Years  263014 non-null  float64
 7   Marital_Status              263014 non-null  float64
 8   Product_Category_1          263014 non-null  float64
 9   Product_Category_2          181501 non-null  float64
 10  Product_Category_3          80582 non-null   float64
 11  Purchase                    263014 non-null  float64
dtypes: float64(7), int64(1), object(4)
memory usage: 24.1+ MB

In [ ]:
data.isnull().sum()

User_ID                            0
Product_ID                         1
Gender                             1
Age                                1
Occupation                         1
City_Category                      1
Stay_In_Current_City_Years         1
Marital_Status                     1
Product_Category_1                 1
Product_Category_2             81514
Product_Category_3            182433
Purchase                           1
dtype: int64

In [ ]:
data["Product_Category_2"].fillna(0,inplace=True)
data["Product_Category_3"].fillna(0,inplace=True)

In [ ]:
data.isnull().sum()

User_ID                       0
Product_ID                    1
Gender                        1
Age                           1
Occupation                    1
City_Category                 1
Stay_In_Current_City_Years    1
Marital_Status                1
Product_Category_1            1
Product_Category_2            0
Product_Category_3            0
Purchase                      1
dtype: int64

In [ ]:
data.isnull().sum().sum()

9

In [ ]:
data.dropna(inplace=True)

In [ ]:
data.isnull().sum()

User_ID                       0
Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Product_Category_3            0
Purchase                      0
dtype: int64

In [ ]:
data.duplicated().sum()

0

In [ ]:
data.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

In [ ]:
for col in data.columns:
  if data[col].dtype!="object":
    data[col]=data[col].astype(int)

In [ ]:
data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,0,0,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6,14,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,0,0,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14,0,1057
4,1000002,P00285442,M,55+,16,C,4,0,8,0,0,7969
...,...,...,...,...,...,...,...,...,...,...,...,...
263009,1004473,P00296542,M,36-45,1,B,3,0,8,0,0,8061
263010,1004473,P00041942,M,36-45,1,B,3,0,5,18,0,3722
263011,1004473,P00115142,M,36-45,1,B,3,0,1,8,17,19253
263012,1004473,P00188442,M,36-45,1,B,3,0,5,7,0,3608
263013,1004473,P00119442,M,36-45,1,B,3,0,5,0,0,3604

In [ ]:
# label Encoding

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le=LabelEncoder()

In [ ]:
for col in data.columns:
  if data[col].dtype=="object":
    data[col]=le.fit_transform(data[col])
    print(le.classes_)

['P00000142' 'P00000242' 'P00000342' ... 'P0099742' 'P0099842' 'P0099942']
['F' 'M']
['0-17' '18-25' '26-35' '36-45' '46-50' '51-55' '55+']
['A' 'B' 'C']

In [ ]:
data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,647,0,0,10,0,2,0,3,0,0,8370
1,1000001,2304,0,0,10,0,2,0,1,6,14,15200
2,1000001,814,0,0,10,0,2,0,12,0,0,1422
3,1000001,790,0,0,10,0,2,0,12,14,0,1057
4,1000002,2657,1,6,16,2,4,0,8,0,0,7969
...,...,...,...,...,...,...,...,...,...,...,...,...
263009,1004473,2762,1,3,1,1,3,0,8,0,0,8061
263010,1004473,403,1,3,1,1,3,0,5,18,0,3722
263011,1004473,1015,1,3,1,1,3,0,1,8,17,19253
263012,1004473,1717,1,3,1,1,3,0,5,7,0,3608
263013,1004473,1058,1,3,1,1,3,0,5,0,0,3604

# **Statistical Analysis -  Hypothesis Testing**

In [ ]:
#Steps of Hypothisis Testing

    #collecting the data
    #Creating the samples
    #Generate Hypothesis
    #choose suitable Hypothesis Test
    #Find P-value
    #Make Decision bases on P-value

# It was observed that the average purchase made by the Men of the age 18-25 was 10000. Is it still the same?

In [ ]:
#collecting the data
new_data = data[(data['Age'] == 1) & data['Gender'] == 1]
new_data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
97,1000021,2024,1,1,16,1,0,0,3,12,0,3055
98,1000022,3261,1,1,15,0,4,0,1,8,17,12099
99,1000022,1954,1,1,15,0,4,0,5,8,0,8797
100,1000022,1792,1,1,15,0,4,0,3,4,0,10681
101,1000022,1020,1,1,15,0,4,0,8,14,0,7801
...,...,...,...,...,...,...,...,...,...,...,...,...
262767,1004446,1311,1,1,18,1,1,1,1,2,0,15431
262951,1004465,2880,1,1,4,0,1,1,5,0,0,1763
262952,1004465,1296,1,1,4,0,1,1,2,3,4,3240
262953,1004465,2733,1,1,4,0,1,1,8,0,0,5832
262954,1004465,1424,1,1,4,0,1,1,8,0,0,7788

In [ ]:
new_data["Purchase"].mean()

9440.512275679841

In [ ]:
 #Creating the samples
 sample = new_data.sample(3600, random_state=5)
 sample

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
139338,1003536,1301,1,1,4,2,0,0,1,15,16,11545
207997,1002023,1734,1,1,4,1,2,1,3,4,5,13317
93718,1002446,982,1,1,7,1,0,0,8,0,0,7891
59016,1003112,2192,1,1,12,0,3,0,1,15,16,15666
2745,1000438,2953,1,1,11,0,3,0,2,0,0,13129
...,...,...,...,...,...,...,...,...,...,...,...,...
202064,1001186,3054,1,1,19,0,1,1,5,0,0,5471
219749,1003871,995,1,1,4,2,4,0,1,5,12,15535
149953,1005137,210,1,1,18,2,4,0,5,0,0,8828
230610,1005565,690,1,1,17,2,2,0,1,15,17,19338
9400,1001447,1653,1,1,4,0,0,0,11,0,0,4667

In [ ]:
#Generate Hypothesis
# null hypothesis= average purchase will be equals to 10000
# alternate hypothesis= average purchase  will not be equal to 10000

In [ ]:
#choose suitable Hypothesis Test
# One sample t test
from scipy.stats import ttest_1samp
a_mean=10000

In [ ]:
t_stat, p_value = ttest_1samp(sample['Purchase'], a_mean)
print(t_stat, p_value)

-6.396199324261645 1.7977812377777705e-10

In [ ]:
# As the pvalue<0.05:
# rejecting null hypothesis
# accepting alternate hypothesis
# mean will not be equal to 10000

# Is the percentage of men who have spent more than 10000 the same for the ages 18-25 and 26-35?

In [ ]:
#null hypothesis - Percentage of the men in the age groups is same
#alternate hypothesis - Percentage of the men in the age groups is not same

data_age1 = data[(data['Age'] == 1) & (data['Purchase'] > 10000)]
data_age2 = data[(data['Age'] == 2) & (data['Purchase'] > 10000)]